.advantages {
  padding: 0 0 50px 0;
}
.advantages__body {
  display: flex;
  justify-content: center;
}
.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  @media screen and (max-width: 716px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.advantages__list li{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 32px;
  padding: 16px;
  // opacity: 0;
  // transform: translate(0,30px);
  @media screen and (max-width: 440px) {
    margin: 0;
  }
  @media screen and (max-width: 390px) {
    width: 170px;
  }
}
.advantages__icon {
  width: 70px;
  height: 70px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.advantages__icon svg path {
  transition: .2s;
}
.advantages__icon:hover svg path {
  fill: #77B231;
}
.advantages-title {
  font-size: 15px;
  font-weight: 500;
  color: rgba(33,33,33,.8);
  text-align: center;
  margin: 22px 0 0 0;
}