.faq-title {  
  margin: 0 0 32px 0;
}
.faq__acc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__acc__item {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border: 1px solid $outline;
  border-radius: 4px;
  margin: 0 0 18px 0;
  cursor: pointer;
  transition: .3s;
  &:last-child {
    margin: 0;
  }
}
.faq__acc__header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  transition: .3s;
  // &:hover {
  //   background-color: rgba(119,178,49,.15);
  // }
  &._active {
    // filter: drop-shadow(0 0 15px rgba(51,51,51,.15));
    & .faq__acc-icon:after {
      transform: translate(-50%, -50%) rotate(90deg) scale(0);
    }
    // & .faq__acc-title {
    //   color: $accent;
    // }
  }
}
.faq__acc-title {
  font-size: 18px;
  font-weight: 500;
  padding: 0 12px 0 0;
}
.faq__acc-icon {
  width: 16px;
  height: 16px;
  position: relative;
  padding: 0 0 0 16px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 2px;
    background-color: $main;
  }
  &:after {
    transition: .3s;
    transform: translate(-50%,-50%) rotate(90deg);
  }
}
.faq__acc__body{
  background-color: #fff;
  cursor: text;
  & p {
    color: $second;
    margin: 0 24px 8px 24px;
  }
}