// СТИЛИ ДЛЯ верхней части navbar
.wrapper {
  background-color: #fff;
}
.navbar {
  background-color: #fff;
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
  transition: .2s;
  &._fixed {
    position: fixed;
    top: -66px;
    left: 0;
    transform: translate(0,66px);
    box-shadow:0px 2px 10px rgba(33, 33, 33, 0.15);
    & .navbar__up {
      display: none;
    }
    & .navbar__down {
    }
  }
  &._show {
    animation: scrollNavbar .5s;
    transform: translate(0,-31%);
    filter: drop-shadow(0px 1px 10px rgba(51,51,51, 0.10)); 
    @media screen and (max-width: 1119px) {
    transform: translate(0,0);
    animation: scrollNavbarAd .5s;
      @keyframes scrollNavbarAd {
        from {
          opacity: 0;
          transform: translate(0, -100%);
        }
        to {
          opacity: 1;
          transform: translate(0,0);
        }
      }
    }
  }
  @keyframes scrollNavbar {
    from {
      opacity: 0;
      transform: translate(0, -100%);
    }
    to {
      opacity: 1;
      transform: translate(0,-31%);
    }
  }
  @media screen and (max-width: 1119px) {
    // &__body {
    //   position: relative;
    //   &._show:before {
    //     content: '';
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0,0,0,.3);
    //     z-index: 201;
    //     transition: .3s;
    //   }
    // }
  }
  &__up {
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    color: $second;
    &._hide {
      display: none;
    }
    @media screen and (max-width: 1119px) {
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $outline;
      @media screen and (max-width: 1119px) {
        display: none;
      }
    }
  }
  &__address {
    display: flex;
    align-items: center;
  }
  &__address address{
    font-style: normal;
    margin: 0 0 0 4px;
  }
  &__work_time {
    display: flex;
    align-items: center;
    margin: 0 0 0 16px;
    @media screen and (max-width: 1119px) {
      margin: 0;
    }
    & p {
      margin: 0 0 0 4px;
    }
  }
  &__booking_rating {
    display: flex;
    align-items: center;
    margin: 0 0 0 16px;
    &:hover .navbar__booking_rating_tooltip {
      opacity: 1;
      pointer-events: all;
      animation: navbarBookinRatingTooltipShow .15s linear;
      animation-fill-mode: forwards;
      @keyframes navbarBookinRatingTooltipShow {
        from {
          transform: translate(-62%,70%);
        } to {
          transform: translate(-62%,100%);
        }
      }
    }
    & a {
      margin: 0 0 -2px 4px;
    }
    & p {
      font-size: 12px;
      font-weight: 500;
      color: $main;
    }
    &_tooltip {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-62%,100%);
      background-color: rgba(51, 51, 51, 0.8);
      border-radius: 4px;
      padding: 12px;
      opacity: 0;
      pointer-events: none;
      transition: .3s;
      z-index: 1000;
      & p {
        color: #fff;
        font-size: 14px;
      }
    }
  }
  &__social_lang {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    @media screen and (max-width: 1119px) {
      margin: 0;
    }
  }
  &__social-insta {
    margin: 0 0 0 18px;
  }
  &__lang {
    display: flex;
    align-items: center;
    margin: 0 0 0 32px;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 4px 0 0;
    }
    &-text {
      font-weight: 500;
    }
    @media screen and (max-width: 1119px) {
      margin: 0;
    }
  }
}
.social-icon {
  transition: .3s;
  &:hover svg path{
    fill: $main
  }
}
// СТИЛИ ДЛЯ нижней части navbar
.navbar {

  &__down {
    // position: fixed;
    // top: 0;
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $main;
    background-color: #fff;
    // position: relative;
    z-index: 200;
    @media screen and (max-width: 1119px) {
      height: 50px;
    }
  }
  &__menu {
    margin: 0 auto;
    &__up {
      display: none;
    }
    @media screen and (max-width: 1119px) {
      // display: none;
      position: fixed;
      top: 0;
      right: 0;
      min-width: 280px;
      width: 40%;
      height: 100vh;
      background-color: #fff;
      z-index: 100;
      transition: transform .3s ease-out;
      transform: translate(100%, 0);
      overflow-y: auto;
      &._active {
        transform: translate(0,0);
        box-shadow: -4px 0px 25px rgba(51, 51, 51, 0.15);
      }
      & nav {
        // height: 100%;
        margin: 24px 0;
        // overflow-y: auto;
      }
      & nav ul {
        flex-direction: column;
        align-items: flex-start;
        & li {
          width: 100%;
          margin: 0;
          & a {
            display: inline-block;
            width: 100%;
            padding: 12px 0 12px 16px;
            &:active {
              // color: lighten(#333,30%);
            }
          }
        }
      }
      &__up {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        // position: fixed;
        // top: 0;
        // right: 0;
        // width: 270px;
        // z-index: 10;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $outline;
        }
      }
      &__down {
        min-height: 540px;
        height: calc( 100% - 50px);
        position: relative;
        display: flex;
        flex-direction: column;
        // padding: 60px 0 0 0;
        // overflow-y: auto;
        & hr {
          display: block;
          border: none;
          color: $outline;
          background-color: $outline;
          height: 1px;
        }
      }
      &__address {
        display: flex;
        margin: 16px 0;
        padding: 0 18px;
      }
      &__work_time {
        margin: 0 0 16px 0;
        display: flex;
        padding: 0 18px;
      }
      &__phone-number {
        @media screen and (max-width: 450px) {
          display: flex !important;
          padding: 0 18px;
          & svg path{
            fill: $second;
          }
          & a {
            color: $main;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
      &__social_lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin: auto 0 0 0;
        width: calc(100% - 40px);
        // padding: 0 18px;
        // flex: 1 0 auto;
        // transform: translate(0, -100%);
        position: absolute;
        bottom: 0;
        left: 18px;
        transform: translate(0, -100%);
      }
      &-callback {
        height: 30px;
        width: calc(100% - 36px) !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: $main;
        border-radius: 2px;
        color: #fff !important;
        font-size: 12px;
        margin: 24px auto 0 auto;
        padding: 0 !important;
        &:active {
          transform: scale(.98);
          // background-color: lighten($color: $main, $amount: 1);
        }
      }
      &-btn {
        height: 100%;
        width: 50%;
        background-color: $accent;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        transition: .3s;
        &:active {
          font-size: 14.5px;
        }
      }
      &-close {
        height: 100%;
        width: 44px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
      }
    }
  }
  &-icon {
    width: 18px;
    height: 18px;
  }
  &__menu__down hr {
    display: none;
  }
  &__menu-callback {
    display: none;
  }
  &__menu__address {
    display: none;
  }
  &__menu__social_lang {
    display: none;
  }
  &__menu__work_time {
    display: none;
  }
  &__menu__phone-number {
    display: none !important;
  }
  &__menu nav ul {
    display: flex;
    align-items: center;
    & li {
      margin: 0 32px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  &-link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    color: $main;
    @media screen and (min-width: 769px) {
      &:hover {
        color: $accent;
      }
    }
  }
  &__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1119px) {
      margin: 0 0 0 auto;
    }
    &-number {
      display: flex;
      align-items: center;
      @media screen and (max-width: 450px) {
        display: none;
      }
      & svg {
        display: none;
        @media (max-width: 1119px) {
          display: block;
        }
      }
      & a {
        font-size: 16px;
        font-weight: 600;
        color: $main;
        @media (max-width: 1119px) {
          margin: 0 0 0 4px;
        }
      }
    }
    &-callback {
      font-size: 12px;
      position: relative;
      color: $main;
      @media (max-width: 1119px) {
        display: none;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $main;
      }
    }
  } 
  &__btn {
    margin: 0 0 0 32px;
    @media screen and (max-width: 1119px) {
      display: none;
    }
  }
  &__burger {
    display: none;
    @media screen and (max-width: 1119px) {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 32px;
      cursor: pointer;
      & span {
        width: 20px;
        height: 2px;
        background-color: $main;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $main;
        }
        &:after {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $main;
        }
      }
    }
  }
}