.rooms {
  margin: 50px 0 0 0;
  border-top: 1px solid $outline;
}
.rooms__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0 0 0;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}
.rooms__content__left {
  width: 100%;
}
.rooms__acc {
  margin: 0 0 24px 0;
  & .header__form__tab {
    font-size: 15px;
    font-weight: 500;
  }
}
.rooms__form__tabs {
  & .rooms__form-line_active{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: $accent;
    transition: .3s;
  }
}
.rooms__form__tabs.rooms_active .rooms__form-line_active {
  transform: translate(0,0);
}
.rooms__form__tabs.comfort_active .rooms__form-line_active {
  transform: translate(100%,0);
  
}
.rooms__tabs {
  max-width: 495px;
  width: 100%;
  display: none;
  & .rooms__tabs__list .rooms__tab {
    transition: .3s;
    &:nth-child(1) {
      // opacity: 0;
    }
    // &:nth-child(2) {
    //   transform: translate(0,-20px);
    //   transition: .3s;
    // }
  }
  &._active {
    display: block;
  }
  & .rooms__tab {
    // opacity: 0;
  }
  &._showTabs {
    & .rooms__tabs__list {
      & .rooms__tab {
        // transition: .4s;
        // opacity: 1;
        // transform: translate(0,0);
        &:nth-child(1) {
          // transition-delay: .2s;
          animation: showTab .4s ease-in-out forwards alternate;
        }
        &:nth-child(2) {
          // transition-delay: .3s;
          // animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: showTab .4s ease-in-out .1s forwards;
        }
        &:nth-child(3) {
          // transition-delay: .4s;
          animation: showTab .4s ease-in-out .2s forwards;
        }
        &:nth-child(4) {
          // transition-delay: .5s;
          animation: showTab .4s ease-in-out .3s forwards;
        }
        &:nth-child(5) {
          // transition-delay: .6s;
          animation: showTab .4s ease-in-out .4s forwards;
        }
        &:nth-child(6) {
          // transition-delay: .7s;
          animation: showTab .4s ease-in-out .5s forwards;
        }
        
        @keyframes showTabFirst {
          from {
            opacity: 0;
          } to {
            opacity: 1;
          }
        }
        @keyframes showTab {
          from {
            opacity: 0;
            transform: translate(0,40px);
          } to {
            opacity: 1;
            transform: translate(0,0);
          }
        }
        @media screen and (max-width: 1024px) {
          @keyframes showTab {
            from {
              opacity: 0;
              transform: translate(40px,0);
            } to {
              opacity: 1;
              transform: translate(0,0);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    max-width: none;
    overflow-x: auto;
    padding: 4px 6px 16px 6px;
    margin: 0 0 8px 0;  
  }
}
.rooms__tabs__list {
  @media screen and (max-width: 1024px) {
    // width: 100%;
    display: flex;
    align-items: center;
  }
}
.rooms__tab {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid $outline;
  border-radius: 6px;
  margin: 0 0 16px 0;
  padding: 0 18px 0 32px;
  cursor: pointer;
  transition: .3s;
  @media screen and (min-width: 1025px) {
    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 10px rgba(12, 42, 78, 0.15);
    }
  }
  &._active {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(12, 42, 78, 0.15);
    transition: .2s!important;
    & .rooms__tabs-title {
      color: $accent;
      transition: .2s!important;
    }
    @media screen and (max-width: 1024px) {
      transform: scale(1);
    }
  }
  @media screen and (max-width: 1024px) {
    height: 36px;
    justify-content: center;
    border-radius: 4px;
    margin: 0 18px 0 0;
    padding: 0 32px;
  }
  @media screen and (min-width: 1025px) {
    &:last-child {
      margin: 0;
    }
  }
}
.rooms__tabs-title {
  font-size: 22px;
  font-weight: 600;
  color: $main;
  @media screen and (max-width: 1024px) {
    font-size: 18px;
    white-space: nowrap;
  }
}
.rooms__tabs-icon {
  width: 24px;
  height: 24px;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.rooms__cards {
  margin: 0 0 0 18px;
  display: none;
  &._active {
    display: block;
  }
  @media screen and (max-width: 1024px) {
    margin: 0;
  }
}
.rooms__card {
  display: none;
  width: 700px;
  height: 470px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 760px) {
    max-width: 700px;
    width: 100%;
    height: auto;
    overflow: initial;
  }
  &._active {
    display: block;
    animation: cardShow 0.8s;
    @keyframes cardShow {
      from {
        opacity: 0;
        transform: translate(40px,0);
      }
      to {
        opacity: 1;
        transform: translate(0,0);
      }
    }
    @media screen and (max-width: 1024px) {
      @keyframes cardShow {
        from {
          opacity: 0;
          transform: translate(0,30px);
        }
        to {
          opacity: 1;
          transform: translate(0,0);
        }
      }
    }
  }
}
.rooms__card__img { 
  width: 100%;
  height: 100%;
  position: relative;
  @media screen and (max-width: 760px) {
    height: calc(200px + (450 - 200) * ((100vw - 320px) / (760)));
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    background-color: #fff;
  }
}
.rooms__card__content {
  width: 660px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media screen and (max-width: 760px) {
    width: auto;
    position: static;
    margin: 16px 0 0 0;
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;

  }
}
.rooms__card__text {
  color: #fff;
  @media screen and (max-width: 760px) {
    color: $main;
  }
}
.rooms__card-button {
  cursor: pointer;
}
.rooms__card-title {
  display: flex;
  align-items: flex-end;
  & h3 {
    // display: inline-block;
    font-size: 30px;
    font-weight: 600;
  }
  & span {
    // display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 0 10px;
    line-height: 1.6;
    @media screen and (max-width: 760px) {
      color: $second;
    }
  }
  @media screen and (max-width: 500px) {
    // flex-direction: column;
    // align-items: flex-start;
    & h3 {
      font-size: 24px;
    }
    & span {
      font-size: 14px;
      // padding: 0;
    }
  }
}
.rooms__card-line {
  width: 50px;
  height: 2px;
  background-color: $accent;
  margin: 10px 0 0 0;
}
.rooms__card-description {
  max-width: 480px;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 0;
}
.rooms__card-button {
  @media screen and (max-width: 760px) {
    margin: 0 0 0 24px;
  }
  @media screen and (max-width: 500px) {
    margin: 18px 0 0 0;
  }
}
