.header__slider {
  position: absolute;
  top: 0;
  right: -12px;
  width: 50%;
  @media screen and (min-width: 1120px) {
    &:hover .header__slider__arrows {
      opacity: 1;
      animation: showArrows .3s;
      @keyframes showArrows {
        from {
          transform: translate(100%, -50%);
        } to {
          transform: translate(0, -50%);
        }
      }
    }
  }
  @media screen and (max-width: 1119px) {
    display: none;
    position: relative;
    width: 100%;
    margin: 70px 0 0 0;
    transform: translate(-12px, 0);
    // top: 635px;
    // width: 100%;
    // height: 700px;
  }
}
.header__slider__list {
  height: 930px !important;
  position: relative;
  // background-color: $main;
  @media screen and (max-width: 1119px) {
    // height: 700px !important;
    // height: 500px !important;
    height: calc(300px + (500 - 300) * ((100vw - 320px) / (1119))) !important;
  }
}
.header__slide {
  height: 930px !important;
  background-color: $main;
  // clip-path: polygon(19% 25%, 100% 0, 100% 100%, 0% 100%);
  mask-image: url('../img/rc.svg');
  @media screen and (max-width: 1119px) {
    mask-image: none;
    // height: 700px !important;
    height: calc(300px + (500 - 300) * ((100vw - 320px) / (1119))) !important;
    // height: 500px !important;
  }
}
.header__slide-img {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  object-fit: cover;
  object-position: center;
  position: relative;
  @media screen and (max-width: 1119px) {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-image: linear-gradient(180deg, rgba(207, 207, 207, 0) 50%, rgba(51, 51, 51, 0.6) 100%);
      // background-color: rgba(0,0,0,.4);
      z-index: 10000;
    }
  }
}
.header__slider__arrows {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0,-50%);
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity .3s;
  @media screen and (max-width: 1119px) {
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    opacity: 1;
    flex-direction: row;
    z-index: 3;
    height: 100%;
    width: 100%;
    pointer-events: none;
    &:hover svg{
      animation: arrowHover .3s;

      @keyframes arrowHover {
        0% {
          transform: translate(0);
        }
        50% {
          transform: translate(-5px,0);
        }
        100% {
          transform: translate(0)
        }
      }
    }
  }
}
.slick-arrow {
  width: 46px;
  height: 46px;
  background-color: rgba(0,0,0,.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  @media screen and (max-width: 1119px) {
    height: 100%;
    border-radius: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: all;
    & svg {
      opacity: 0.9;
    }
  }
  @media screen and (min-width: 1120px) {
    &:hover {
      background-color: rgba(0,0,0,.7);
    }
  }
}
.slick-prev {
  transform: scale(-1,-1);
  @media screen and (min-width: 1120px) {
    &:hover {
      transform: scale(-1.05,-1.05)
    }
  }
}
.slick-next {
  @media screen and (min-width: 1120px) {
    &:hover {
      transform: scale(1.05)
    }
  }
}
.header__slick-dots {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(0,-50%);
  height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  @media screen and (max-width: 1119px) {
    top: auto;
    bottom: 0;
    right: 50%;
    // height: 20px;
    // width: 144px;
    transform: translate(-50%, 40px) rotate(-90deg);
    // display: flex;
    // flex-direction: row;
    // background-color: #000;
    margin: 0 -10px 0 0;
    z-index: 4;
  }
  & li {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    @media screen and (min-width: 1120px) {
      &:hover {
        transform: scale(1.3);
      }
    }
    &.slick-active {
      width: 12px;
      height: 12px;
      background-color: $accent;
    } 
    & button{
      display: none;
    }
  }
}