//<МИКСИНЫ>===============================================================================================================================================================
@import "_mixins";
//</МИКСИНЫ>==============================================================================================================================================================

//<ШРИФТЫ>===============================================================================================================================================================

//<Подключаем шрифты>===============================================================================================================================================================
  //&display=swap&subset&cyrillic-ext - для кириллицы
@import '_fonts';
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset&cyrillic-ext");
//</Подключаем шрифты>==============================================================================================================================================================

//<Иконочные шрифты>===============================================================================================================================================================
// @import "_icons";
//</Иконочные шрифты>==============================================================================================================================================================

//<Шрифт по умолчанию>===============================================================================================================================================================
$fontFamily: "Open sans";
//</Шрифт по умолчанию>==============================================================================================================================================================

//</ШРИФТЫ>==============================================================================================================================================================

//<ПЕРЕМЕННЫЕ>===============================================================================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1248;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

* {
  --maincolor: #212121;
  --secondarycolor: #73808E;
  --accentcolor: #77B231;
  --accentTwocolor: #FFA500;
  --outlinecolor: #DDDFE0;
}
$main: var(--maincolor);
$second: var(--secondarycolor);
$accent: var(--accentcolor);
$accentTwo: var(--accentTwocolor);
$outline: var(--outlinecolor);
//</ПЕРЕМЕННЫЕ>==============================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================================================================================
@import '_reset';
html {
  scroll-behavior: smooth;
}
body {
  color: $main;
  font-size: 15px;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================================================================================

//<ОБОЛОЧКА>===============================================================================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &._loaded {

  }
}
//</ОБОЛОЧКА>==============================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>===============================================================================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
  // @media (max-width: $md1 + px) {
  //   max-width: 970px;
  // }
  // @media (max-width: $md2+px) {
  //   max-width: 750px;
  // }
  // @media (max-width: $md3 + px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
}
//</ОСНОВНАЯ СЕТКА>==============================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===============================================================================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==============================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================================================================================================================================
// @import "_datepicker";
// @import "_lightgallery";
// @import "_pagging";
// @import "_popup";
// @import "_header";
// @import "_footer";
// @import "_home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============================================================================================================================================================
  
@import '#blocks/_main.scss';
@import '#blocks/_preloader.scss';
@import '#blocks/_navbar.scss';
@import '#blocks/_header.scss';
@import '#blocks/_slider_header.scss';
@import '#blocks/_rooms.scss';
@import '#blocks/_rooms_info.scss';
@import '#blocks/_banner.scss';
@import '#blocks/_about.scss';
@import '#blocks/_advantages.scss';
@import '#blocks/_services.scss';
@import '#blocks/_around.scss';
@import '#blocks/_faq.scss';
@import '#blocks/_reviews.scss';
@import '#blocks/_partners.scss';
@import '#blocks/_awards.scss';
@import '#blocks/_contacts.scss';
@import '#blocks/_footer.scss';
@import '#blocks/_callback.scss';
@import '#blocks/_nybanner.scss';
@import '#blocks/_rs.scss';
@import '#blocks/_summerbanner.scss';
@import '#blocks/_animation.scss';


